.stop-control {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px auto;
	color: var(--main-color);
	height: var(--soundcontrol-height);
	width: 40px;
	border: 0;
	background: none;
}

.stop-control-label {
	font-weight: bold;
}

.stop-button-img {
	cursor: pointer;
	width: 25px;
	filter: var(--main-color-filter);
}

.stop-button-img:hover {
	filter: invert(48%) sepia(14%) saturate(2241%) hue-rotate(314deg) brightness(109%) contrast(101%);
}
