.button-control {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px auto;
	color: var(--main-color);
	height: var(--soundcontrol-height);
	width: 40px;
	border: 0;
	background: none;
}

.button-control-label {
	font-weight: bold;
}

.button-control-img {
	cursor: pointer;
	width: 25px;
	filter: var(--main-color-filter);
}

.button-control-img.button-hover-green:hover {
	filter: invert(85%) sepia(48%) saturate(209%) hue-rotate(107deg) brightness(95%) contrast(91%);
}

.button-control-img.button-hover-red:hover {
	filter: invert(48%) sepia(14%) saturate(2241%) hue-rotate(314deg) brightness(109%) contrast(101%);
}
