.volume-control {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px 0;
	height: var(--soundcontrol-height);
	max-height: var(--soundcontrol-height);
}

.volume-label {
	color: var(--main-color);
	font-weight: bold;
}

.volume-slider {
	appearance: none;
	height: 5px;
	border-radius: 5px;
	border: 1px solid var(--main-color);
	background: var(--main-bg-color);
	outline: none;
}

.volume-slider::-webkit-slider-thumb {
	display: none;
}

.volume-control:hover .volume-slider::-webkit-slider-thumb {
	display: block;
	appearance: none;
	cursor: grab;
	border-radius: 100%;
	background-color: var(--main-bg-color);
	border: 3px solid var(--main-color);
	height: 18px;
	width: 18px;
}
